<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="home" th:fragment="home(title, img)">
    <div class="parallax_background parallax-window" data-parallax="scroll"  th:data-image-src="@{'/images/'+${img}}"   data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content text-center">
                    <div class="home_title" th:text="#{${title}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>