<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search" th:fragment="search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search_container">
                    <div class="search_title">Find your home</div>
                    <div class="search_form_container">
                        <div class="search_form">


                            <div class="form-row justify-content-start">
                                <div class="col-md-2 mb-2">
                                    <button type="button" class="form-control">submit listing</button>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <button type="button" class="form-control">submit listing</button>
                                </div>
                            </div>
                            <form>

                            <div id="root">

                            </div>

                            <div class="form-row justify-content-end ">
                                <div class="col-md-8 ml-auto">
                                    <input id="suggest" type="text" class="form-control" placeholder="Город"/>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <button type="button" class="form-control">submit listing</button>

                                </div>
                                <div class="col-md-2 mb-2 ">
                                    <button type="button" class="form-control">submit listing</button>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>