<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="home_slider_container" th:fragment="slider" >
    <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
            <image  class="background_image"  th:src="@{/images/index.jpg}"></image>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <image  class="background_image"  th:src="@{/images/index.jpg}"></image>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <image  class="background_image"  th:src="@{/images/index.jpg}"></image>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"><h1>1243 Main Avenue Left Town</h1></div>
                                <div class="home_price_tag">$ 482 900</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Home Slider Navigation -->
    <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

</div>
</body>
</html>