<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Regstration New User Form</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css}"/>
    <link th:href="@{plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/registration.css}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->
    <div th:replace="~{fr-header :: header(Contact)}"/>


    <!-- Menu -->

    <div th:replace="~{fr-menu :: menu}"/>

    <!-- Home -->
    <div th:replace="~{fr-home :: home(nav.contact, blog.jpg)}"/>

    <!-- Contact -->

    <div class="contact">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block mx-auto">
                                <div class="text-center mb-5">
                                    <h3 class="text-uppercase"><span th:text="#{user.signin}"/></h3>
                                </div>
                                <form th:action="@{/auth/login}" th:object="${loginRequest}"
                                      method="post">
                                    <div class="form-group">
                                        <div th:if="${param.error} != null">
                                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                                Invalid email and password.
                                            </div>
                                            <div th:if="${param.logout} != null">
                                                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                                    You have been logged out.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group last mb-3">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                            <input id="email" type="email" class="form-control" th:name="email"
                                                   th:placeholder="#{email}">
                                        </div>
                                        <div class="form-group last mb-3">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                            <input id="password" type="password" th:name="password"
                                                   th:placeholder="#{password}" class="form-control"/>
                                        </div>
                                        <input type="submit" th:value="#{register}"
                                               class="btn btn-block py-2 btn-primary">
                                        <span class="text-center my-3 d-block">or</span>
                                        <div class="">
                                            <a th:href="@{/oauth2/authorize/facebook}"
                                               class="btn btn-block py-2 btn-facebook">
                                                <span class="icon-facebook mr-3"></span> Register with Facebook
                                            </a>
                                            <a th:href="@{/oauth2/authorize/vk}" class="btn btn-block py-2 btn-twitter">
                                                <span class="icon-vk mr-3"></span> Register with VK
                                            </a>
                                            <a href="#" class="btn btn-block py-2 btn-twitter">
                                                <span class="icon-twitter mr-3"></span> Register with Twitter
                                            </a>
                                            <a href="#" class="btn btn-block py-2 btn-google"><span
                                                    class="icon-google mr-3"></span> Register with Google</a>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <!-- Footer -->
    <div th:replace="~{footer :: footer}"/>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/popper.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap-4.1.2/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.3.4/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>

</html>